.container{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 800px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hires{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ujhiresseg{
  display: block !important;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}


.wikilink{
  width: 700px;
}
